.waveThemeBlue {
  --wave-color: #2f68cc;
}

.waveStaticTop,
.waveStaticBottom {
  height: 32px;
  background-color: var(--wave-color);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12C10 2 20 2 30 12C40 22 50 22 60 12C70 2 80 2 90 12C100 22 110 22 120 12V24H0V12Z' fill='black'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 120 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12C10 2 20 2 30 12C40 22 50 22 60 12C70 2 80 2 90 12C100 22 110 22 120 12V24H0V12Z' fill='black'/%3E%3C/svg%3E");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-size: 120px 100%;
  mask-size: 120px 100%;
}

.waveStaticBottom {
  transform: rotate(180deg);
}
