@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900 antialiased;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  @apply outline-none ring-2 ring-zinc-900 ring-offset-2 ring-offset-white;
}
